@model IEnumerable<FreshFoodHTH.Models.EF.ChiTietDonHang>

<table class="table">
    <tr>
        <th>
            Sản phẩm
        </th>
        <th>
            Đơn vị tính
        </th>
        <th>
            Đơn giá
        </th>
        <th>
            Số lượng
        </th>
        <th>
            Thành tiền
        </th>
        <th>
            Ghi chú
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SanPham.Ten)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DonViTinh)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DonGiaBan)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SoLuong)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ThanhTien)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DonHang.GhiChu)
            </td>
        </tr>
    }

</table>
