@model IEnumerable<FreshFoodHTH.Models.EF.ChiTietHoaDonNhap>


<button type="button" class="btn btn-success btn-admin" style="margin:5px; margin-left:unset; float:right">
    <i class="fa fa-plus-square"></i> &nbsp;
    @Html.ActionLink("Thêm dòng hóa đơn", "Create", "ChiTietHoaDonNhaps", new { idhdn = ViewBag.IDHoaDonNhap }, new { @class = "" })
</button>


<table class="table">
    <tr>
        <th>
            Sản phẩm
        </th>
        <th>
            Đơn vị tính
        </th>
        <th>
            Đơn giá
        </th>
        <th>
            Số lượng
        </th>
        <th>
            Thành tiền
        </th>
        <th>Chức năng</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SanPham.Ten)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DonViTinh)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DonGiaNhap)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SoLuong)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ThanhTien)
            </td>
            <td>
                @*<i class="fa fa-info-circle"></i> &nbsp;
                    @Html.ActionLink("Xem", "Details", "ChiTietHoaDonNhaps", new { id = item.IDChiTietHoaDonNhap , idhdn = ViewBag.IDHoaDonNhap }) &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;*@
                <i class="fa fa-edit"></i> &nbsp;
                @Html.ActionLink("Sửa", "Edit", "ChiTietHoaDonNhaps", new { id = item.IDChiTietHoaDonNhap, idhdn = ViewBag.IDHoaDonNhap },new { @class = "" }) &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <i class="fa fa-trash"></i> &nbsp;
                @Html.ActionLink("Xóa", "Delete", "ChiTietHoaDonNhaps", new { id = item.IDChiTietHoaDonNhap }, new { onclick = "return confirm('Chắc chắn muốn xoá?');" })
            </td>
        </tr>
    }
</table>
